.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .header__container {
    border-top: 1px solid rgba(84, 84, 84, 1);
    padding-top: 28px;
  }
}
